/*============
font-family: 'Poppins', sans-serif;
=============*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*======================Start Top Header Area======================*/
.mainTopHeader {
  
    position: relative;
    z-index: 1;
    padding: 8px 25px;
}

.topBarLogoArea {}

.toplogo {}

.toplogo .pcLogo {}

.toplogo .responsiveLogo {
    display: none;
}

.startTopHeaderArea {}

.topHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topHeader .topHeaderList {
    margin-left: 26px;
}

.topHeader .topHeaderList .topHeaderIcon {
    cursor: pointer;
}

.topHeader .topHeaderList .userButton {
    border: none;
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 15px;
}

.topHeader .topHeaderList .userButton .topHeaderUser {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.topHeader .topHeaderList .userButton .userName {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    padding-left: 14px;
    padding-right: 10px;
}

.topHeader .topHeaderList .userButton .topHeaderArrowIocn {}

/*======================End Top Header Area======================*/
/*======================Start Add Parmeit Area======================*/
.updateProfileInputArea {
    margin-top: 64px;
}

.addPermitHeading {}

.addPermitHeading .addPermitHeadingText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #444444;
}

.addPermitHeading .addPermitSlogan {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #404040;
}

.udpdateProfileFormArea {}

.flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.UpdateProfileFormGroup {
    flex-basis: 48%;
}

.UpdateProfileFormGroup .updateProfileLabel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 10px;
}

.UpdateProfileFormGroup .updateProfileInput {
    border: none;
    background: none;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 13px 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    width: 100%;
}

.UpdateProfileFormGroup {}

.UpdateProfileFormGroup .stateSelectArea {
    border: none;
    background: none;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 13px 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    width: 100%;
}

.UpdateProfileFormGroup .stateSelectArea .stateSelect {
    border: none;
    background: none;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 13px 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    width: 100%;
}

.uploadPhotoOfLicencseArea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.uploadPhotoOfLicencseArea .uploadLabel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #444444;
}

.uploadFile {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    cursor: pointer;
    background: #fff;
    border-radius: 7.2px;
    padding: 14px 47px;
    margin-left: 27px;
    border: 0.3px solid #444444;
    border-radius: 4px;
}

.viewPermitbuttonArea {
    margin-top: 40px;
}

.viewPermitbuttonArea .viewPermitButton {
    border: none;
    background: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    background: #49C0FF;
    border-radius: 7.2px;
    width: 100%;
    padding: 13px;
    text-align: center;
}

/*======================End Add Parmeit Area======================*/
